<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/assets/css/style.css' />
</head>

<body>
    {{>header}}
    <div>
        {{{body}}}
    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/index.js"></script>
    {{!-- <script src="/src/controllers/indexController.js"></script> --}}
    {{>footer}}
</body>

</html>