<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/css/neat.css" />
    <link rel="stylesheet" href="/assets/css/taoee.css" />
</head>

<body>
    {{>header}}
    <div>
        {{{body}}}
    </div>
    {{>footer}}
    <script src="/assets/js/jquery.min.js"></script>

    <script src="/assets/js/index.js"></script>
</body>

</html>