.market-class {
  width: 100%;
  margin-top: 70px;
  border: 1px solid #ddd;
}
.wrapper .container .col-sm-1,
.wrapper .container .col-sm-2,
.wrapper .container .col-sm-3,
.wrapper .container .col-sm-4,
.wrapper .container .col-sm-5,
.wrapper .container .col-sm-6,
.wrapper .container .col-sm-7,
.wrapper .container .col-sm-8,
.wrapper .container .col-sm-9,
.wrapper .container .col-sm-10,
.wrapper .container .col-sm-11,
.wrapper .container .col-sm-12 {
  overflow: hidden;
}
.wrapper .container img {
  vertical-align: top;
}
.wrapper .bannerbox {
  padding: 0 15px;
  margin-bottom: 10px;
}
.wrapper .bannerbox .col-sm-1,
.wrapper .bannerbox .col-sm-2,
.wrapper .bannerbox .col-sm-3,
.wrapper .bannerbox .col-sm-4,
.wrapper .bannerbox .col-sm-5,
.wrapper .bannerbox .col-sm-6,
.wrapper .bannerbox .col-sm-7,
.wrapper .bannerbox .col-sm-8,
.wrapper .bannerbox .col-sm-9,
.wrapper .bannerbox .col-sm-10,
.wrapper .bannerbox .col-sm-11,
.wrapper .bannerbox .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}
.wrapper .bannerbox .banner .rob {
  margin: 10px 10px 0 10px;
  background: #fff;
}
.wrapper .bannerbox .banner .rob .col-sm-6 {
  padding: 15px;
}
.wrapper .bannerbox .banner .rob .col-sm-6:first-child {
  padding-right: 0;
}
.wrapper .bannerbox .dynamic .dynamic-min {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .wrapper .bannerbox .menu {
    display: none;
  }
}
.wrapper .activity-door {
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
.wrapper .activity-door .left {
  padding: 10px 10px 10px 25px;
}
.wrapper .activity-door .center {
  text-align: center;
}
.wrapper .activity-door .center .col-sm-6 {
  padding: 0 10px 14px 10px;
}
.wrapper .activity-door .center .col-sm-6:nth-child(3),
.wrapper .activity-door .center .col-sm-6:nth-child(4) {
  padding-bottom: 0;
}
@media screen and (max-width: 768px) {
  .wrapper .activity-door .right {
    display: none;
  }
}
.wrapper .sentiment .title {
  background: #fff;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}
.wrapper .sentiment .title span {
  font-size: 18px;
  font-weight: 600;
}
.wrapper .sentiment .title span i {
  font-weight: 100;
  color: red;
  font-style: normal;
}
.wrapper .sentiment .title ul {
  float: right;
}
.wrapper .sentiment .title ul li {
  float: left;
  padding: 0 20px;
  line-height: 30px;
  font-size: #000;
}
.wrapper .sentiment .title ul li.active {
  color: red;
}
.wrapper .sentiment .productbox .product img {
  width: 100%;
}
.wrapper .sentiment .productbox .product .name {
  line-height: 20px;
  color: #666;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.wrapper .sentiment .productbox .product .price {
  display: inline-block;
  width: 40%;
  line-height: 20px;
  color: red;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.wrapper .sentiment .productbox .product .shopname {
  display: inline-block;
  width: 60%;
  line-height: 20px;
  color: #666;
  text-align: right;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.wrapper .market-class .row {
  margin: 0;
}
.productitem:hover .item-content {
  background: #ddd;
  transition: background 0.5s;
  -moz-transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -o-transition: background 0.5s;
}
.productitem .item-content {
  border: 1px solid #ddd;
  margin-bottom: 10px;
}
.productitem .item-content dt img {
  width: 100%;
  vertical-align: top;
}
.productitem .item-content dd {
  margin: 0 9px 9px 9px;
}
.productitem .item-content dd .msg {
  margin-top: 5px;
  line-height: 18px;
  color: #666;
}
.productitem .item-content dd .msg .price {
  color: red;
}
.productitem .item-content dd .msg span strong {
  margin: 0 2px;
}
.productitem .item-content dd .name {
  color: #666;
  line-height: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-top: 5px;
}
.productitem .item-content dd .name:hover {
  color: #ff6600;
  text-decoration: none;
}
.productitem .item-content dd .shopname {
  text-align: right;
  margin-top: 5px;
}
.productitem .item-content dd .shopname a {
  color: #666;
  line-height: 18px;
}
.productitem .item-content dd .shopname a:hover {
  color: #ff6600;
  text-decoration: none;
}
