.container {
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 800px) {
  .container {
    width: 800px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
}
@media (min-width: 800px) {
  .container {
    width: 800px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1190px;
  }
}
