<link rel="stylesheet" href="/assets/css/component/dynamic_info.css">
{{!-- 动态-公告动态 --}}
<div class="dynamic-info">
    <div class="tab clearfix">
        <span class="on">公告信息</span>
        <span>市场动态</span>
    </div>
    <div class="desc">
        <ul>
            <li>2017国庆中秋放假</li>
            <li>2017国庆中秋放假</li>
            <li>2017国庆中秋放假</li>
        </ul>
    </div>
</div>