<link rel="stylesheet" href="/assets/css/component/dynamic_reglogin.css">
{{!-- 动态-登录注册 --}}
<div class="dynamic-reglogin">
    <div class="clearfix">
        <a class="btn reg" href="/login">登录</a>
        <a class="btn login" href="/register">注册</a>
    </div>
    <div class="info">
        <ul>
            <li>您好，欢迎来到淘亿网！</li>
            <li>当前在线人数：1015</li>
            <li>今日商品总数：206,549</li>
        </ul>
    </div>
</div>