<link rel="stylesheet" href="/assets/css/component/dynamic_fun.css">
{{!-- 动态-功能模块 --}}
<div class="dynamic-fun mt10 clearfix">
    <a href="#" target="_blank"><img src="http://www.taoee.com/upload/image/6b377b846039424ca8872909db5ee502.jpg"><br/>一手货源</a>
    <a href="#" target="_blank"><img src="http://www.taoee.com/upload/image/3316c72ba2034c12858cf5536fff5c27.jpg"><br/>售后无忧</a>
    <a href="#" target="_blank"><img src="http://www.taoee.com/upload/image/ce81be9d03b74ed383f415b52c3ce555.jpg"><br/>闪电发货</a>
    <a href="#" target="_blank"><img src="http://www.taoee.com/upload/image/e7c79ad4b41d4e5d8bf4e2f243a82849.jpg"><br/>实体认证</a>
    <a href="#" target="_blank"><img src="http://www.taoee.com/upload/image/c0daca9763524d6a984a45af107a9e3a.jpg"><br/>全球配送</a>
    <a href="#" target="_blank"><img src="http://www.taoee.com/upload/image/b650ea7ef37246319a7bc65b6898b30f.jpg"><br/>支付安全</a>
</div>