<link rel="stylesheet" href="/assets/css/component/footer_other.css">
{{!-- 其它--页脚 --}}
<div class="footer-other">
    <div class="container">
        <div class="footer-links fs-18">
            对网站有何看法？<a class="fs-14" href="/">意见反馈</a>
        </div>
    </div>
</div>