<link rel="stylesheet" href="/assets/css/component/footer.css">
<footer class="footer">
	{{!-- 页脚导航 --}}
	<div class="footer-nav">
		<div class="navs">
			<ul class="cmm-h-ul clearfix">
				<li><a href="#">关于我们</a></li>
				<li><a href="#">联系我们</a></li>
				<li><a href="#">新手指引</a></li>
			</ul>
		</div>
		<p class="copyright">Copyright © 2008-2020 Taoee.com 粤ICP备14079901号</p>
	</div>
</footer>	