<!DOCTYPE html>
<html class="no-js" lang="">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>淘亿(TAOEE.COM)-网络批发服务商-一手货源，厂家直批，全球配送，售后无忧，服装批发采购首选！</title>
  
  <link rel="stylesheet" href="/assets/plugins/bootstrap/bootstrap.min.css"/>
  <link rel="stylesheet" href="/assets/css/reset.css" />
  <link rel="stylesheet" href="/assets/css/iconfont.css" />
  <link rel="stylesheet" href="/assets/css/common.css" />
  {{!-- <link rel="stylesheet" href="/assets/css/taoee.css" /> --}}

  <script src="/assets/plugins/jquery/jquery.min.js"></script>
  <script src="/assets/plugins/bootstrap/bootstrap.min.js"></script>
  <script src="/assets/plugins/handlebars/handlebars-v4.0.11.js"></script>
  {{!-- <script src="/assets/js/common.js"></script> --}}
</head>

<body>
  <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  {{> component/header}}

  {{{ body }}}

  {{> component/footer}}
</body>

</html>