<div class="productdetail">
  <div class="container">
    <div class="page-title">
      <a href="javascript:;">淘亿批发</a>/
      <a href="javascript:;">全部商品</a>/
      <a href="javascript:;">女装</a>
      <a href="javascript:;">裙装</a>
      <a href="javascript:;">连衣裙</a>
    </div>
    <div class="main row">
      <div class="product-pic col-sm-3">
        <div id="preview" class="spec-preview">
          <span class="jqzoom">
            <img src="http://gd2.alicdn.com/imgextra/i4/0/TB1nq1GSXXXXXc7aXXXXXXXXXXX_!!0-item_pic.jpg_400x400.jpg" alt="">
            <div class="jqZoomPup"></div>
          </span>
          <div class="zoomdiv"><img class="bigimg" src="http://gd2.alicdn.com/imgextra/i4/0/TB1nq1GSXXXXXc7aXXXXXXXXXXX_!!0-item_pic.jpg"></div>
        </div>
        <div class="spec-scroll">
          <div class="items">
            <ul>
              <li class="active"><img bimg="http://gd2.alicdn.com/imgextra/i4/0/TB1nq1GSXXXXXc7aXXXXXXXXXXX_!!0-item_pic.jpg" src="http://gd2.alicdn.com/imgextra/i4/0/TB1nq1GSXXXXXc7aXXXXXXXXXXX_!!0-item_pic.jpg" onmousemove="preview(this);"></li>
              <li><img bimg="http://gd1.alicdn.com/imgextra/i1/77963806/TB24GeOf8U4h1JjSZFLXXaFMpXa_!!77963806.jpg" src="http://gd1.alicdn.com/imgextra/i1/77963806/TB24GeOf8U4h1JjSZFLXXaFMpXa_!!77963806.jpg" onmousemove="preview(this);"></li>
              <li><img bimg="http://gd3.alicdn.com/imgextra/i3/77963806/TB2xjjpwl8lpuFjy0FnXXcZyXXa_!!77963806.jpg" src="http://gd3.alicdn.com/imgextra/i3/77963806/TB2xjjpwl8lpuFjy0FnXXcZyXXa_!!77963806.jpg" onmousemove="preview(this);"></li>
            </ul>
            <div class="goodsShow-items-pagination min-all p-a"></div>
          </div>
        </div>
      </div>
      <div class="center col-sm-6">
        <div class="productName">7259#2017夏Milkcocoa夏女装淑女后背镂空蝴蝶结雪纺连衣裙</div>
        <div class="productPrice qf">
          <div class="item">
            <span>批发价</span>
            <strong class="fs24">￥45.00</strong>
          </div>
          <div class="item">
            <span>VIP价</span>
            <strong class="loginhou"><font id="loginedDisplay">（登录后显示）</font></strong>
            <strong><font id="vipPrice" style="display:none" class="fs24">￥45.00</font></strong>
          </div>
          <div class="item">
            <span>淘宝价</span>
            <strong class="price">￥65.00</strong>
          </div>
        </div>
        <div class="productEvaluateNum">
          <div class="stars"><i class="s0"></i></div>
          <!--判断是否有人评论-->
          <span class="d-ib">0人评价</span>
          <span class="d-ib">成交/3件</span>
          <span class="d-ib">人气/</span>
          <a class="findSame {productName: '7259#2017夏Milkcocoa夏女装淑女后背镂空蝴蝶结雪纺连衣裙'}" href="###"><i class="iconfont"></i>找同款</a>
          <a class="updateProduct {productId: 'ff8080815cf5a107015d1ee55db6349b'}" href="###" title="商品页面不正常可点击此按钮更新">商品更新</a>
        </div>
        <div class="jr-gwc1">
          <div class="goods-choose">
            <dl class="o-h" name="terms">
              <dt class="f-l">尺码&nbsp;&nbsp;</dt>
              <dd class="f-r">
                <ul class="sys_spec_text fs-16" name="spec">
                  <li data-aid="17"><a href="javascript:void(0)" value="S" id="尺码" ad="S" etalontermid="S" class="etalonClass {id:'尺码',etalonTermId:'S',value:'S'}">S</a><em></em></li>
                  <li data-aid="17"><a href="javascript:void(0)" value="M" id="尺码" ad="M" etalontermid="M" class="etalonClass {id:'尺码',etalonTermId:'M',value:'M'}">M</a><em></em></li>
                  <li data-aid="17"><a href="javascript:void(0)" value="L" id="尺码" ad="L" etalontermid="L" class="etalonClass {id:'尺码',etalonTermId:'L',value:'L'}">L</a><em></em></li>
                  <li data-aid="17"><a href="javascript:void(0)" value="XL" id="尺码" ad="XL" etalontermid="XL" class="etalonClass {id:'尺码',etalonTermId:'XL',value:'XL'}">XL</a><em></em></li>
                  <input type="hidden" id="尺码" class="etalon" value="" etalonterm="">
                </ul>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="right col-sm-3"></div>
    </div>
  </div>
</div>