<footer class="footer">
	{{!-- 商家入驻 --}}
	<div class="commitment">
		<div class="wrap">
			<img src="/assets/images/commitment.png" usemap="#planetmap">
		</div>
	</div>

	{{!-- 页脚导航 --}}
	<div class="footer-nav">
		<div class="wrap">
			<ul class="cmm-h-ul navbar-lv1">
				<li><a href="#">关于我们</a>
					<ul class="navbar-lv2">
						<li><a href="#" target="_blank">新手指南</a></li>
						<li><a href="#" target="_blank">会员等级</a></li>
					</ul>
				</li>
				<li><a href="#">支付方式</a></li>
				<li><a href="#">物流配送</a></li>
				<li><a href="#">售后服务</a></li>
				<li><a href="#">商家服务</a></li>
				<li><a href="#">400 030 1688</a>
					<ul class="navbar-lv2">
						<li>周一至周六 9：00-18：00</li>
						<li>节假日另行通知</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	{{!-- 页脚导航2 --}}
	<div class="footer-nav2">
		<div class="navbar">
			<ul class="cmm-h-ul clearfix">
				<li><a href="#">关于我们</a></li>
				<li><a href="#">联系我们</a></li>
				<li><a href="#">新手指引</a></li>
			</ul>
		</div>
		<p class="copyright txt-center">Copyright © 2008-2020 Taoee.com 粤ICP备14079901号</p>
	</div>
</footer>	