<header class="header">
	{{!-- 顶部地图 --}}
	<div class="header-top clearfix">
		<div class="wrap">
			<ul class="sitemap cmm-h-ul pull-left">
				<li><a href="">淘亿批发</a></li>
				<li><a href="">帮助中心</a></li>
				<li><a href="">批发指数</a></li>
				<li><a href="">联系我们</a></li>
				<li><a href="">留言板</a></li>
			</ul>
			<ul class="regLogin cmm-h-ul pull-right">
				<li><a href="/login">登录</a></li>
				<li><a href="/register">注册</a></li>
			</ul>
		</div>
	</div>
	{{!-- 顶部内容 --}}
	<div class="header-main clearfix">
		<div class="wrap clearfix">
			<a class="logo" href="/">
				<img src="/assets/images/logo_new.png" alt="">
			</a>
			<div class="search-frame pull-right">
				<form class="search-box pull-left" action="">
					<div class="search-text pull-left">
						<input name="page.keyword" type="text" placeholder="搜索您需要的商品或店铺" />
						<a class="search-pic" href="">图片搜索</a>
					</div>
					<div class="search-btn pull-right">
						<a class="iconfont icon-fangdajing btn" href=""></a>
					</div>
				</form>
				<a class="cart-btn pull-left" href="">
					<i class="iconfont icon-gouwuche"></i>购物车</a>
			</div>
		</div>
	</div>
	{{!-- 顶部导航 --}}
	<div class="header-nav">
		<div class="wrap">
			<a class="pro-all pull-left" href="/">
				全部商品
			</a>
			<ul class="nav cmm-h-ul pull-left">
				<li class="on"><a href="/">首页</a></li>
				<li><a href="/shop/dailyNew">每日新款</a></li>
				<li><a href="/shop/seller">逛市场</a></li>
				<li><a href="/shop/orderRemit">实拍优选</a></li>
				<li><a href="/shop/service">服务</a></li>
				<li><a href="/shop/clearStore">尾品汇</a></li>
			</ul>
		</div>
	</div>
</header>	