{{!-- 创建一个中间件给res.locals.weather添加数据 --}}

<div class="weatherWeight">
	{{#each weather.locations}}
		<div class="location">
			<h3>{{name}}</h3>
			<a href="{{forecastUrl}}">
				{{weather}},{{temp}}
			</a>
		</div>
	{{/each}}
</div>