<link rel="stylesheet" href="/assets/css/page/home.css">
<div class="wrapper">
    <div class="container">

        {{!-- 模块一 start--}}
        <div class="banner-con clearfix">
            {{!--第一部分：中部 焦点图 及轮播图--}}
            <div class="banner pull-left">
                <div class="inner">
                    <div>
                        <img src="assets/images/temp/5.jpeg" alt="">
                    </div>
                    <div class="rob">
                        <div class="row">
                            <div class="col-sm-6 col-xs-6">
                                <img src="assets/images/temp/3.png" alt="">
                            </div>
                            <div class="col-sm-6 col-xs-6">
                                <img src="assets/images/temp/3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!--第二部分：左部 左侧导航 --}}
            {{> component/sidebar }} {{!-- 动态 --}} 
            {{!-- 第三部分：右部 右侧登陆及公告等位 --}}
            <div class="dynamic pull-left">
                <div class="dynamic-d">
                    <img src="assets/images/temp/2.png" alt="">
                </div>
                <div class="dynamic-min">
                    <img src="assets/images/temp/4.png" alt="">
                </div>
            </div>
        </div>
        
        {{!-- 模块一 end --}}


        {{!-- 模块二 start--}}
        <div class="activity-door">
            <div class="row">
                <div class="col-sm-2 col-xs-4 left">
                    <img src="assets/images/temp/6.jpg" alt="">
                </div>
                <div class="col-sm-5 col-xs-8 center">
                    <div class="col-sm-6 col-xs-6">
                        <img src="assets/images/temp/7.png" alt="">
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <img src="assets/images/temp/7.png" alt="">
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <img src="assets/images/temp/7.png" alt="">
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <img src="assets/images/temp/7.png" alt="">
                    </div>
                </div>
                <div class="col-sm-5 right">
                    <img src="assets/images/temp/8.jpg" alt="">
                </div>
            </div>
        </div>
        {{!-- 模块二 end --}}


        {{!--
        <div class="sentiment">
            <div class="title qf">
                <span>淘艺
                    <i>推荐</i>
                </span>
                <ul class="qf">
                    <li class="active">优雅淑女</li>
                    <li>欧美外贸</li>
                    <li>气质名媛</li>
                    <li>夜店排队</li>
                </ul>
            </div>
            <div class="row productbox">
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf">
                        <span class="fl price">￥40.00</span>
                        <span class="fl shopname">韩范衣柜</span>
                    </p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf">
                        <span class="fl price">￥40.00</span>
                        <span class="fl shopname">韩范衣柜</span>
                    </p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf">
                        <span class="fl price">￥40.00</span>
                        <span class="fl shopname">韩范衣柜</span>
                    </p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf">
                        <span class="fl price">￥40.00</span>
                        <span class="fl shopname">韩范衣柜</span>
                    </p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf">
                        <span class="fl price">￥40.00</span>
                        <span class="fl shopname">韩范衣柜</span>
                    </p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf">
                        <span class="fl price">￥40.00</span>
                        <span class="fl shopname">韩范衣柜</span>
                    </p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf">
                        <span class="fl price">￥40.00</span>
                        <span class="fl shopname">韩范衣柜</span>
                    </p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf">
                        <span class="fl price">￥40.00</span>
                        <span class="fl shopname">韩范衣柜</span>
                    </p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf">
                        <span class="fl price">￥40.00</span>
                        <span class="fl shopname">韩范衣柜</span>
                    </p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf">
                        <span class="fl price">￥40.00</span>
                        <span class="fl shopname">韩范衣柜</span>
                    </p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf">
                        <span class="fl price">￥40.00</span>
                        <span class="fl shopname">韩范衣柜</span>
                    </p>
                </div>
                <div class="col-sm-2 col-xs-4 product">
                    <img src="assets/images/temp/9.jpg" alt="">
                    <p class="name">实拍 无袖蕾丝连衣裙女夏2017新款时尚显瘦镂空中长款淑女a字裙</p>
                    <p class="qf">
                        <span class="fl price">￥40.00</span>
                        <span class="fl shopname">韩范衣柜</span>
                    </p>
                </div>
            </div>
        </div> --}} {{!-- 批发市场 --}} 
        {{#each woman}}
        <div class="market-class qf">
            <div class="row">
                {{> component/market_pro }} {{> component/market_rank }}
            </div>
        </div>
        {{/each}} {{!-- 批发市场 --}} {{#each man}}
        <div class="market-class qf">
            <div class="row">
                {{> component/market_pro }} {{> component/market_rank }}
            </div>
        </div>
        {{/each}} {{#each brass}}
        <div class="market-class qf">
            <div class="row">
                {{> component/market_pro }} {{> component/market_rank }}
            </div>
        </div>
        {{/each}} {{#each bags}}
        <div class="market-class qf">
            <div class="row">
                {{> component/market_pro }} {{> component/market_rank }}
            </div>
        </div>
        {{/each}}
    </div>
</div>