<!DOCTYPE html>
<html>

<head>
    {{!-- {{title}} --}}
    <title>淘亿(TAOEE.COM)-网络批发服务商-一手货源，厂家直批，全球配送，售后无忧，服装批发采购首选！</title>
    <link rel="stylesheet" href="/assets/css/neat.css" />
    <link rel="stylesheet" href="/assets/css/taoee.css" />
</head>

<body>
    {{>header}}
    <div class="wrap home">
        {{{body}}}
    </div>
    {{>footer}}
    <script src="/assets/js/jquery.min.js"></script>
</body>

</html>