
//批发市场
.market-class {
  width: 100%;
  margin-top: 70px;
  border: 1px solid #ddd;
}

.wrapper {
  .container {
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
      overflow: hidden;
    }
    img {
      vertical-align: top;
    }
  }
  .bannerbox {
    padding: 0 15px;
    margin-bottom: 10px;
    .col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12 {
      padding-left: 0;
      padding-right: 0;
    }
    .banner {
      .rob {
        margin: 10px 10px 0 10px;
        background: #fff;
        .col-sm-6{
          padding: 15px;
          &:first-child {
            padding-right: 0;
          }
        }
      }
    }
    .dynamic {
      .dynamic-min {margin-top: 10px;}
    }
  }
  @media screen and (max-width: 768px) {
    .bannerbox .menu {
      display: none;
    }
  }
  //广告块
  .activity-door {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    .left {
      padding: 10px 10px 10px 25px;
    }
    .center {
      text-align: center;
      .col-sm-6 {
        padding: 0 10px 14px 10px;
        &:nth-child(3),&:nth-child(4) {
          padding-bottom: 0;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .activity-door .right {
      display: none;
    }
  }
  //陶艺推荐
  .sentiment {
    .title {
      background: #fff;
      border-bottom: 1px solid #ddd;
      margin-bottom: 15px;
      span {
        font-size: 18px;
        font-weight: 600;
        i {
          font-weight: 100;
          color: red;
          font-style: normal;
        }
      }
      ul {
        float: right;
        li {
          float: left;
          padding: 0 20px;
          line-height: 30px;
          font-size: #000;
          &.active {
            color: red;
          }
        }
      }
    }

    .productbox {
      .product {
        img {
          width: 100%;
        }
        .name {
          line-height: 20px;
          color: #666;
          margin-bottom: 10px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .price {
          display: inline-block;
          width: 40%;
          line-height: 20px;
          color: red;
          margin-bottom: 10px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .shopname {
          display: inline-block;
          width: 60%;
          line-height: 20px;
          color: #666;
          text-align: right;
          margin-bottom: 10px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }
    }
  }
  .market-class {
    .row {
      margin: 0;
    }
  }
}

//图片块（用于“每日新款”，）
.productitem {
  &:hover .item-content {
    background: #ddd;
    transition: background 0.5s;
    -moz-transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -o-transition: background 0.5s;
  }
  .item-content {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    dt img {
      width: 100%;
      vertical-align: top;
    }
    dd {
      margin: 0 9px 9px 9px;
      .msg {
        margin-top: 5px;
        line-height: 18px;
        color: #666;
        .price {
          color: red;
        }
        span strong {
          margin: 0 2px;
        }
      }
      .name {
        color: #666;
        line-height: 18px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
        margin-top: 5px;
        &:hover {
          color: #ff6600;
          text-decoration: none;
        }
      }
      .shopname {
        text-align: right;
        margin-top: 5px;
        a {
         color: #666;
          line-height: 18px;
          &:hover {
            color: #ff6600;
            text-decoration: none;
          }
        }
      }
    }
  }
}

