a,a:link,a:visited,a:focus{text-decoration:none;}
h1, h2, h3, h4, h5, h6 {margin-top: 0;margin-bottom: 0;}
.img-100{width: 100%;}
.cmm-h-ul >li{float: left; display: inline-block;}

.container {
	padding-left: 0;
	padding-right: 0;
}
@media (max-width: 800px){
	.container {
		width: 800px;
	}
	.navbar-nav{
		margin: 0;
		& >li{
			float: left;
		}
	}
}
@media (min-width: 800px){
	.container {
		width: 800px;
	}
}
@media (min-width: 992px){
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px){
	.container {
		width: 1190px;
	}
}



