// //定义z-index
// .z-loop(@n, @i:1) when (@i <= @n) {
//     .z-@{i} {
// 		z-index: @i;
//     }
//     .z-loop(@n, (@i + 1));
// }

// *{
// 	box-sizing: border-box;
// }
// .wrap{
// 	margin: 0 auto;
// 	width: 1190px;
// }
// .pull-left{float: left;}
// .pull-right{float: right;}
// .txt-left{text-align: left;}
// .txt-center{text-align: center;}
// .txt-right{text-align: right;}
// .clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}

// .cmm-h-ul >li{float: left;display: inline-block;}

// //调用z-index
// .z-loop(9);


a,a:link,a:visited,a:focus{text-decoration:none;}
h1, h2, h3, h4, h5, h6 {margin-top: 0;margin-bottom: 0;}
.img-100{width: 100%;}
.cmm-h-ul >li{float: left; display: inline-block;}

.container {
	padding-left: 0;
	padding-right: 0;
}
@media (max-width: 800px){
	.container {
		width: 800px;
	}
	.navbar-nav{
		margin: 0;
		& >li{
			float: left;
		}
	}
}
@media (min-width: 800px){
	.container {
		width: 800px;
	}
}
@media (min-width: 992px){
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px){
	.container {
		width: 1190px;
	}
}
