@import "common.less";
body{
  background: #f4f3f4;
  color: #666;
}
// @import "header.less";
// @import "footer.less";

.home{
  min-height: 400px;
}

.banner-con{
  margin-bottom: 10px;
  // 侧边菜单导航
  .menu{
    position: relative;
    width: 220px;
    height: 450px;
    margin-left: -100%;
    z-index: 777;

    .menu-li{
      padding: 15px 0 0 20px;
      width: 217px;
      height: 75px;
      background: #fff;
      border-left: 3px solid #fff;
      border-bottom: 1px dashed #ddd;
      &:last-child{
        border-bottom: 0;
      }
      &:hover{
        background: #fafafa;
        border-left: 3px solid #ff0000;
        .menu-con{
          display: block;
        }
      }
      h5{
        padding-bottom: 5px;
        font-weight: 600;
      }
      .pro-type-block{
        .pro-type-parent{
          color: #FF4A00;
          a{
            font-size: 14px;
            color: inherit;
          }
        }
        .pro-type-child{
          margin-left: -5px;
          line-height: 1.5;
          a{
            margin-right: 5px;
            padding: 1px 5px;
            font-size: 14px;
            color: #6d6d6d;
            &:hover{
              background: #ddd;
            }
          }
        }
      }

      .menu-con{
        z-index: 1;
        display: none;
        position: absolute;
        padding: 10px;
        top: 0;
        left: 216px;
        width: 710px;
        height: 450px;
        border: 1px solid #ddd;
        background: #fafafa;
        .pro-left{
          width: 420px;
          padding-right: 10px;
          border-right: 1px solid #ddd;
          .pro-type-block{
            .pro-type-parent{
              padding-left: 5px;
              border-bottom: 1px dotted #ddd;
            }
            .pro-type-child{
              margin-left: 0px;
              a{
                display: inline-block;
                margin: 2px 5px 2px 0;
              }
            }
          }
        }
        .pro-right{
          width: 260px;
          .pro-type-block{
            padding: 0 10px;
            .pro-type-parent{
              font-size: 14px;
            }
            .pro-type-child{
              margin-left: 0px;
              span{
                float: left;
                display: inline-block;
                margin-bottom: 10px;
                width: 120px;
                height: 19px;
                a{
                  padding: 1px 0;
                }
              }
            }
          }
        }
      }
    }
  }
  //焦点图
  .banner{
    width: 100%;
    .inner{
      margin-left: 220px;
      margin-right: 260px;
      .rob{
        width: 710px;
        padding: 10px;
        .row{
          margin: 0;
          padding: 15px;
          background: #fff;
        }
      }
    }
  }
  //公告
  .dynamic{
    width: 260px;
    margin-left: -260px;

    .dynamic-min{
      margin-top: 10px; 
    }
  }

}