@import "common.less";
body{
  background: #f4f3f4;
  color: #666;
}

.header{
  // 顶部地图
  .header-top{
    height: 40px;
    border-bottom: 1px solid #dfdfdf;
    background: #fff;

    li{
      a{
        display: inline-block;
        margin: 14px 0;
        padding: 0 12px;
        line-height: 1;
        font-size: 12px;
        color: #8C8C8C;
        border-left: 1px solid #8C8C8C;
      }
      &:first-child a{
        border: none;
        padding-left: 0;
      }
      &:last-child a{
        padding-right: 0;
      }
    }
    .sitemap{

    }
    .regLogin{

    }
  }
  //顶部内容
  .header-main{
    height: 110px;

    .logo{
      display: inline-block;
      margin: 40px 0;
    }
    .search-frame{
      margin-top: 50px;
      height: 40px;

      .search-box{
        border: 1px solid #ddd;

        .search-text{
          width: 370px;
          height: 40px;
        }
      }
      .cart-btn{
        display: inline-block;
        margin-left: 10px;
        width: 130px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #ffdb3d;
        color:#000;
        font-size: 12px;
      }
    }
  }
  //顶部导航
	.header-nav{
    height: 50px;
    background: #404144;
    .pro-all{
      display: inline-block;
      width: 220px;
      height: 50px; 
      font-size: 18px;
      background: #E70012;
      color: #fff;
    }
  }
}


.home{
  min-height: 400px;
}