body {
  background: #f4f3f4;
  color: #666;
  font-size: 12px;
}
.banner-con {
  margin-bottom: 10px;
}
.banner-con .banner {
  width: 100%;
}
.banner-con .banner .inner {
  margin-left: 220px;
  margin-right: 260px;
}
.banner-con .banner .inner .focus-ad {
  display: block;
  margin: 10px 0 0 10px;
  width: 690px;
  background-color: #fff;
}
.banner-con .banner .inner .focus-ad .item {
  padding: 15px 0 15px 15px;
  height: 150px;
}
.banner-con .banner .inner .focus-ad .item .ad-img {
  width: 120px;
}
.banner-con .banner .inner .focus-ad .item .item-text {
  margin-left: 10px;
  width: 190px;
  height: 120px;
}
.banner-con .banner .inner .focus-ad .item .item-text .item-title {
  line-height: 14px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.banner-con .banner .inner .focus-ad .item .item-text .item-num {
  line-height: 1.2;
}
.banner-con .banner .inner .focus-ad .item .item-text .item-num .t-through {
  text-decoration: line-through;
}
.banner-con .banner .inner .focus-ad .item .item-text .item-num .c-red {
  color: #ff0001;
}
.banner-con .banner .inner .focus-ad .item .item-text .item-num .c-orange {
  color: #fd9925;
}
.banner-con .banner .inner .focus-ad .item .item-text .item-num .left {
  width: 50px;
}
.banner-con .banner .inner .focus-ad .item .item-text .item-num .center {
  margin-left: 1px solid #ddd;
  padding-left: 7px;
}
.banner-con .banner .inner .focus-ad .item .item-text .item-other {
  bottom: 0;
}
.banner-con .banner .inner .focus-ad .item .item-text .item-other a {
  padding: 4px 6px;
  line-height: 1;
  font-weight: bold;
  color: #959595;
  background: #e4e4e4;
}
.banner-con .dynamic {
  margin-left: -260px;
  width: 260px;
}
