.product-detail .blockNav {
  height: 45px;
  line-height: 45px;
}
.product-detail .blockNav a {
  margin: 0 10px;
  color: #8C8C8C;
}
.product-detail .blockNav a:first-child {
  margin-left: 0;
}
.product-detail .main {
  margin-bottom: 20px;
}
.product-detail .main .left {
  width: 354px;
  margin-right: 18px;
  /*放大镜--大图*/
  /*放大镜--小图列表*/
}
.product-detail .main .left .jqzoom {
  position: relative;
  display: block;
  width: 354px;
  height: 354px;
  overflow: hidden;
  cursor: pointer;
}
.product-detail .main .left .jqzoom img {
  width: 354px;
}
.product-detail .main .left .preview-scroll {
  margin-top: 5px;
  width: 354px;
  height: 57px;
}
.product-detail .main .left .preview-scroll .items {
  width: inherit;
  height: inherit;
  overflow: hidden;
}
.product-detail .main .left .preview-scroll .items ul li {
  width: 56px;
  height: 56px;
  padding: 2px;
  margin-right: 4px;
  float: left;
  border: 1px solid #CCC;
  text-align: center;
}
.product-detail .main .left .preview-scroll .items ul li img {
  width: 50px;
  height: 50px;
}
.product-detail .main .left .preview-scroll .items ul li.on {
  border: 1px solid #FF6600;
}
.product-detail .main .center {
  width: 500px;
}
.product-detail .main .center .productName {
  height: 50px;
  color: #404144;
  font-size: 18px;
}
.product-detail .main .center .productPrice {
  padding: 20px;
  height: 50px;
  line-height: 25px;
  background: #fff7f6;
  color: #8a8a8a;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.product-detail .main .center .productPrice span {
  display: inline-block;
  width: 70px;
}
.product-detail .main .center .productPrice .item {
  width: 50%;
  font-size: 13px;
}
.product-detail .main .center .productPrice .item .c-red {
  vertical-align: top;
  color: #e10c09;
}
.product-detail .main .center .productPrice .item .c-gray {
  color: #999;
}
.product-detail .main .center .productEvaluateNum {
  height: 36px;
  line-height: 36px;
  border-bottom: 1px solid #d3d2d3;
}
.product-detail .main .center .productEvaluateNum .stars {
  position: relative;
  width: 90px;
  height: 36px;
}
.product-detail .main .center .productEvaluateNum .stars i {
  display: block;
  position: absolute;
  left: 12px;
  top: 12px;
  width: 65px;
  height: 12px;
  background: url(../../images/global.png) no-repeat;
}
.product-detail .main .center .productEvaluateNum .stars i.s0 {
  background-position: -351px -534px;
}
.product-detail .main .center .productEvaluateNum > span {
  margin-right: 10px;
  font-size: 14px;
}
.product-detail .main .center .productEvaluateNum > a {
  margin-left: 10px;
  color: #ff4640;
  font-size: 14px;
}
.product-detail .main .center .productCount {
  margin-top: 10px;
}
.product-detail .main .center .productCount .goods-choose .item .title {
  margin-left: 20px;
  width: 70px;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #333;
}
.product-detail .main .center .productCount .goods-choose .item .con {
  float: left;
  margin: 12px 0 0 0;
  width: 410px;
}
.product-detail .main .center .productCount .goods-choose .item .con .spec-text > li {
  float: left;
  margin-right: 5px;
}
.product-detail .main .center .productCount .goods-choose .item .con .spec-text > li .s-btn {
  padding: 1px 8px;
  border: 2px solid #dddddd;
  color: #666;
  font-size: 16px;
}
.product-detail .main .center .productCount .goods-choose .item .con .spec-text > li .s-btn.on {
  border: 2px solid #ff0001;
}
.product-detail .main .center .productCount .operation .join {
  display: inline-block;
  margin: 0 8px 0 70px;
  width: 250px;
  height: 42px;
  line-height: 42px;
  color: #fff;
  background: #e80e02;
  text-align: center;
  font-size: 16px;
}
.product-detail .main .center .productCount .operation .collection {
  display: inline-block;
  width: 78px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #ff9b96;
  color: #666;
  background: #fff7f6;
  text-align: center;
}
.product-detail .main .right {
  width: 300px;
}
.product-detail .main .right .store h3 {
  background: #fff7f6;
  line-height: 35px;
  font-weight: 100;
  margin-bottom: 20px;
  padding: 0 10px;
}
.product-detail .main .right .store h3 a {
  color: #ff0d00;
}
.product-detail .main .right .store ul li {
  margin-left: 8px;
  height: 28px;
}
.product-detail .main .right .store .btns {
  margin-top: 20px;
}
.product-detail .main .right .store .btns a {
  display: block;
  float: left;
  margin-right: 9px;
  width: 91px;
  height: 30px;
  line-height: 30px;
  color: #333;
  background: #ffdb3d;
  text-align: center;
}
.product-detail .main .right .store .btns a.bg-gray {
  background: #e4e3e3;
}
.product-detail .main .right .store .prompt {
  margin-top: 20px;
  padding: 5px;
  height: 90px;
  line-height: 15px;
  border: 1px solid #ddd;
  letter-spacing: 0px;
  overflow: hidden;
}
.product-detail .main .right .store .prompt .c-red {
  color: #ff0d00;
}
.product-detail .content .left {
  width: 290px;
}
.product-detail .content .left .other h2 {
  line-height: 45px;
  font-size: 20px;
  font-weight: 100;
  color: #666;
  border-bottom: 1px solid #ddd;
}
.product-detail .content .left .other .list li {
  margin-top: 10px;
}
.product-detail .content .left .other .list li a .cover {
  width: 80px;
  height: 109px;
  margin-right: 15px;
  border: 1px solid #ddd;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.product-detail .content .left .other .list li a .desc {
  width: 190px;
}
.product-detail .content .left .other .list li a .desc p {
  margin: 12px 10px 0 10px;
  width: 170px;
  height: 20px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product-detail .content .left .other .list li a .desc p.c-red {
  color: #ff0d00;
}
.product-detail .content .left .browse h2 {
  line-height: 45px;
  font-size: 20px;
  font-weight: 100;
  color: #666;
  border-bottom: 1px solid #ddd;
}
.product-detail .content .left .browse .list a {
  display: inline-block;
  margin: 30px 0 0 0;
  width: 120px;
  height: 150px;
  border: 1px solid #ddd;
  overflow: hidden;
}
.product-detail .content .left .browse .list a img {
  max-height: 150px;
  min-height: 150px;
}
.product-detail .content .right {
  width: 870px;
}
.product-detail .content .right h2 {
  border-bottom: 1px solid #ddd;
  line-height: 45px;
  font-size: 24px;
  font-weight: 100;
  color: #666;
}
.product-detail .content .right .toFixed-no {
  width: 100%;
  margin: 0 auto;
  height: 45px;
  border-bottom: 1px solid #c3c3c3;
  z-index: 999;
}
.product-detail .content .right .toFixed-no .tab li {
  padding: 0px 30px;
  line-height: 45px;
  font-size: 18px!important;
}
.product-detail .content .right .attr-list {
  border: 1px solid #ddd;
  background: #fafafa;
  padding: 10px 20px;
  margin: 20px;
  overflow: hidden;
}
.product-detail .content .right .attr-list li {
  float: left;
  width: 33%;
  line-height: 1.1;
  margin-bottom: 10px;
  font-size: 15px;
}
.product-detail .content .right .evaluation .score {
  margin: 20px 0;
  height: 170px;
  background: #fafafa;
}
.product-detail .content .right .evaluation .score .score-left {
  width: 300px;
  border-right: 2px solid #fff;
  text-align: center;
}
.product-detail .content .right .evaluation .score .score-left strong {
  line-height: 130px;
  font-size: 72px;
  color: #ff9002;
}
.product-detail .content .right .evaluation .score .score-left strong a {
  font-weight: 100;
}
.product-detail .content .right .evaluation .evaluation-content .sub {
  display: block;
  margin: 20px auto;
  width: 120px;
  height: 25px;
  line-height: 25px;
  border: 1px solid #646464;
  color: #646464;
  background: #fff;
  text-align: center;
}
.product-detail .content .right .questions .questionForm {
  padding: 20px 10px 20px 40px;
  margin: 10px 0 20px 0;
  background: #f3f3f3;
  height: 80px;
}
.product-detail .content .right .questions .questionForm .text {
  width: 540px;
  height: 40px;
}
.product-detail .content .right .questions .questionForm .sub {
  width: 160px;
  height: 40px;
  background: red;
  border: 0;
  color: #fff;
}
.product-detail .content .right .questions .sub {
  width: 120px;
  display: block;
  height: 25px;
  line-height: 25px;
  border: 1px solid #646464;
  color: #646464;
  background: #fff;
  text-align: center;
}
